* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(
        to bottom right, 
        rgba(161, 11, 11, 0.8),
        rgba(7, 39, 129, 0.8));
    box-sizing: border-box;
}

main {
    height: 100vh;
    position: relative;
}

.calc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: rgba(255,255,255,.5);
    padding: 2%;
    border-radius: 10px;
    
}

.display {
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 3rem;
    border-radius: 10px;
    text-align: right;
}

h1 {
    padding: 2% 5%;
    color: rgba(255, 255, 255, 0.8);

}

.grid {
    margin-top:5%;
    display: grid;
    grid-gap: .1rem;
    grid-template: repeat(4, 1fr)/repeat(5, 1fr);

}

.btn {
    margin: 4%;
    border-radius: 5px;
    border: none;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    cursor: pointer;
    padding: 20%;
    color: rgba(255, 255, 255, 0.8);
}

.btn-clear {
    background-color: rgba(138, 0, 0, 0.685);
}

.btn-equals {
    background-color: rgba(0, 50, 189, 0.486);
    grid-row: span 2;
}